
.memoryButton {
    padding: 12.5px;
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    border-width: 2px;
}
.highlightButton {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

.buttonPressed {
    border-style: solid;
    border-width: 10px;
    border-color: blue;  
}